<main>
  <div class="container">
  <% if flash[:notice] %>

    <%= flash[:notice] %>

  <% end %>

    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
      <script src="https://kit.fontawesome.com/e1acaa1ac8.js" crossorigin="anonymous"></script>
       <h1 class="mb-2 mt-3">welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!</h1>

      </div>
    </div>
  </div>
</main>

